{% extends "layout.html" %}
{% block content %}
    <h1>About HESG</h1>

    <div class="container-fluid">
        <p align="justify">HESG-UP ( Hybrid Electrcity Supply Grid - Uttar Pradesh ) aims to provide a smarter solution for electricity supply in Uttar Pradesh by utilizing real time ,continuously streaming data from the UP State Load Dispatch Center website . The goal of HESG is to cover up the margin between supply and demand of electricity with the help of solar energy produced by solar farms nearby and running computations on the real time data obtained to identify the optimum way of electricity supply. 
        </p>
        <p align="justify"> Tesla provides a service called “Tesla Powerwall” which uses Solar Panels installed on rooftops to help meet a home’s daily energy needs. Whenever there is a difference between the supply and demand of a home’s electricity needs, the margin is covered by energy from the grid. However this system would face 2 major issues in India :-

        <li align="justify">Currently the entire system costs $14100 (Rs. 10,12,105.05) for installing the recommended 2 Powerwalls as per Tesla’s official website. This is not financially viable for majority of the Indian population.</li>

        <li align="justify">Indian architecture typically is not of the same level of quality of homes as those based in the US. Above costs does include the charges that would be incurred for fixing up rooftops if they are found to be structurally weak which Tesla lets customers know before hand.</li></p>

        <p align="justify">Hence we propose a system that works in an opposite manner as to Tesla’s solution where we try to cover up the margin between supply and demand of electricity in these Indian states by using Solar Electricity as our source of electricity.
</p>
    </div>
{% endblock content %}