{% extends "layout.html" %}
{% block content %}
    
        <h1>Admin Page </h1>
        <br>
        <h2>Welcome {{aname}} </h2>
        <br>

<!-- <main role="main" class="container" >
     <div class="row" >
        <div class="col-md-10 col-md-offset-10"  >
          {% block content1 %}{% endblock %}
        </div>
        <div class="col-md-5 col-md-offset-10" >
          <div class="content-section">
            <h3>Admin Details</h3>
            <p class='text-muted'>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Name : {{aname}} </li>
                <li class="list-group-item list-group-item-light">Start Year : {{start}}</li>
                <li class="list-group-item list-group-item-light">Number of Generators : {{num}}</li>
                
              </ul>
            </p>
          </div>
        </div>
      </div>
    </main>

  -->




<div style="float:left; width:69%">
<table border="1" cellpadding="5" cellspacing="5">
    <thead>
    <tr>
        <th>GENERATOR NAME</th>
        <th>ID</th>
        <th>DC</th>
        <th>SCHEDULE</th>
        <th>ACTUAL</th>
        <th>OU_UI</th>
        <th>PROVIDER ID</th>
        <th>PROVIDED</th>
        
    </tr>
    </thead>
    <tbody>
        {% for row in data %} 
            <tr>
                <td>{{row[0]}}</td>
                <td>{{row[1]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                <td>{{row[7]}}</td>
                <td>{{row[8]}}</td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>
<a href="" class="btn btn-primary">Refresh</a>
<br>
<br>

<!--
<form method="POST" ,action=" ">
   <p><button style="border-radius:5px;" type="submit" class="btn btn-success" >Refresh </button></p>
</form>
-->
    
</a>
</div>

<div style="float: right;width: 29%;left:30rem">
	{% block content2 %}{% endblock %}
	 <h3>Admin Details</h3>
            <p class='text-muted'>
              <ul class="list-group">
                <li class="list-group-item list-group-item-light">Name : {{aname}} </li>
                <li class="list-group-item list-group-item-light">Start Year : {{start}}</li>
                <li class="list-group-item list-group-item-light">Number of Generators : {{num}}</li>
                
              </ul>
            </p>
</div>

{% endblock content %}
 
