{% extends "layout.html" %}
{% block content %}
    
        <h1>Home Page</h1>
 <br>
 
<div style="float:left; width:69%">
	<h4> Generator consumption of Solar Energy Real Time </h4>
<table border="1" cellpadding="5" cellspacing="5">
    <thead>
    <tr>
    	<th></th>
        <th>GENERATOR NAME</th>
        
        <th>DC</th>
        <th>SCHEDULE</th>
        <th>ACTUAL</th>
        <th>OU_UI</th>
        
        <th>PROVIDED</th>
       
    </tr>
    </thead>
    <tbody>
        
            <tr>
            	<td>Most Energy</td>
                <td>{{top[0]}}</td>
                
                <td>{{top[3]}}</td>
                <td>{{top[4]}}</td>
                <td>{{top[5]}}</td>
                <td>{{top[6]}}</td>
                
                <td>{{top[8]}}</td>
                
                
            </tr>
            <tr>
            	<td>Least Energy</td>
                <td>{{bottom[0]}}</td>
                
                <td>{{bottom[3]}}</td>
                <td>{{bottom[4]}}</td>
                <td>{{bottom[5]}}</td>
                <td>{{bottom[6]}}</td>
                
                <td>{{bottom[8]}}</td>
                
            </tr>
        
    </tbody>
</table>

 

    
{% endblock content %}