{% extends "layout.html" %}
{% block content %}
       
        <body>
        	<img src = "/static/header_bg.jpg" alt = "LOL" width = "1200" height="200">
        	<br>
        	<br>
        	<br>
        	<br>
     		<h1 align="center">Hybrid Electricity Supply Grid</h1>
     		<br>
        	<br>
        	<br>
        	<br>
        	<h2 align="left">How We Work?</h2>
        	<div class="container-fluid" style="width: 30%%;background-color: #cce6ff; ">
        	<p align="justify">Electricity demand in India today exceeds what can be supplied by already existing electricity grids which make use of Conventional sources such as coal, thermal, etc in order to generate electricity and provide to our homes. What we aim to achieve is to allow State Dispatch Load Centers to cover up the difference that exists between supply and demand of electricity in the generators by combining solar electricity from solar distributors located across the states which obtain Solar Energy from various Solar Farms in the Uttar Pradesh. Our Ultimate Goal is to build this software for all possible states in India under one controlling body in order to regulate and oversee this distribution of Solar Energy on a national scale.
        </p>   
        	<img src = "/static/minigrids-technicaldesign-components-hybrid.jpg" alt = "LOL" width = "1100" height="250">
        	<br>
        	<br>
        	<br>
       		</div>
        	<br>
        	<br>
        	<br>
        	<br>
        	
        	






        </body>
       

{% endblock content %}
