{% extends "layout.html" %}
{% block content %}
    
        <h1>Solar Farms and Providers </h1>
        <br>
        

<div style="float:left; width:69%">
    <h1> SOLAR FARMS </h1>
<table border="1" cellpadding="5" cellspacing="5">
    <thead>
    <tr>
        <th>FARM NAME</th>
        <th>FARM LOCATION</th>
        <th>ENERGY PRODUCED</th>
        <th>NUMBER OF PANELS INSTALLED</th>
        
        
    </tr>
    </thead>
    <tbody>
        {% for row in farm %} 
            <tr>
                <td>{{row[1]}}</td>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
               
                
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>

</div>

<div style="float:left; width:69%">
    <h1> SOLAR PROVIDERS </h1>
<table border="1" cellpadding="5" cellspacing="5">
    <thead>
    <tr>
        <th>SOLAR PROVIDER NAME</th>
        <th>LOCATION</th>
        <th>CAPACITY</th>
        <th>CURRENT</th>
        <th>NUMBER OF GENERATORS</th>
        
        
    </tr>
    </thead>
    <tbody>
        {% for row in prov %} 
            <tr>
                <td>{{row[2]}}</td>
                <td>{{row[3]}}</td>
                <td>{{row[4]}}</td>
                <td>{{row[5]}}</td>
                <td>{{row[6]}}</td>
                
            </tr>
        {% endfor %}
    </tbody>
</table>
<br>

</div>



{% endblock content %}